.debug #site_header .container-fluid{
    height: 80px;
    background-color: #2C3E50;
}

.debug #site_header .container-fluid .row{
    height: 100%;
}
 
.debug #site_main .start
{
    height: 500px;
    background-color: #1ABC9C;
}

.debug .schede div{
    height: 250px;
    background-color: black;
}

.debug .title{
    height: 50px;
}

.debug section.portfolio{
    margin: 50px 0;
}


.debug #site_main .about{
    background-color: #1ABC9C;
    height: 450px;

}

.debug #site_footer .grey{
    background-color: #3A546D;
    height: 300px;
}

.debug #site_footer .darkgrey{
    background-color: #2C3E50;
    height: 80px;
}






