.bg_blue{
    background-color: #2C3E50;
}

.bg_green{
    background-color: #1ABC9C;
}

.bg_white{
    background-color: white;
}

.c_white{
    color: white!important;
}

.c_blue{
    color: #2C3E50!important;
}

.w_300{
    width: 300px;
}


.dec_bar{
    height: 5px;
    border-radius: 5px;
    width: 40%;
}

.decoration{
    margin: auto;
}

.debug .title{
    height: 50px;
}

.debug section.portfolio{
    margin: 50px 0;
}


.debug #site_main .about{
    background-color: #1ABC9C;
    height: 450px;

}

.debug #site_footer .grey{
    background-color: #3A546D;
    height: 300px;
}

.debug #site_footer .darkgrey{
    background-color: #2C3E50;
    height: 80px;
}






